<div class="p-1 text-center">
  <h1 class="text-3xl font-bold">About Us</h1>
  <br />
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi natus
    et! Quas, cumque exercitationem. Fuga eius voluptatem consectetur, porro
    inventore ex dicta, ipsum quo illum tenetur, a accusamus vero.
  </p>
  <br />
  <p>
    Laboris commodo tempor qui do. Esse reprehenderit anim consequat est. Dolor
    consectetur ut tempor excepteur laborum ex et non in qui sunt consectetur
    incididunt. Eiusmod laborum est occaecat non incididunt consectetur dolore
    dolore ex Lorem labore irure.
  </p>
  <br />
  <p>
    Anim incididunt consectetur dolore irure esse veniam fugiat. Aliqua nisi
    dolor nisi tempor enim occaecat exercitation voluptate est enim anim et.
    Nisi voluptate occaecat duis irure commodo deserunt cupidatat. Esse sit eu
    consequat officia sit. Aliqua velit culpa labore aliqua nostrud consequat
    duis irure eiusmod et duis dolor labore est.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati adipisci
    est inventore, non omnis distinctio natus velit facilis, hic et molestiae
    tenetur in qui praesentium consequatur. Nulla recusandae architecto porro!
  </p>
</div>
